<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2>상품 등록 폼</h2>
    </div>

    <!-- th:object 속성 => 컨트롤러로부터 객체를 받아 사용한다.-->
<!--    <form action="item.html" th:action method="post">-->
    <form action="item.html" th:action th:object="${item}" method="post">
        <div>
            <label for="itemName">상품명</label>
            <!-- th:field 속성 => id속성과 name속성을 자동으로 만들어준다.
                 th:object로 선언한 객체에 접근하여 itemName필드를 사용한다.
                 *{...} 선택변수식 : $대신 *을 사용하면 th:object에서 선택한 객체에 접근한다.-->
<!--            <input type="text" id="itemName" name="itemName" class="form-control" placeholder="이름을 입력하세요">-->
<!--            <input type="text" th:field="${item.itemName}" class="form-control" placeholder="이름을 입력하세요">-->
            <input type="text" th:field="*{itemName}" class="form-control" placeholder="이름을 입력하세요"> <!-- -->
        </div>
        <div>
            <label for="price">가격</label>
<!--            <input type="text" id="price" name="price" class="form-control" placeholder="가격을 입력하세요">-->
            <input type="text" th:field="*{price}" class="form-control" placeholder="가격을 입력하세요">
        </div>
        <div>
            <label for="quantity">수량</label>
<!--            <input type="text" id="quantity" name="quantity" class="form-control" placeholder="수량을 입력하세요">-->
            <input type="text" th:field="*{quantity}" class="form-control" placeholder="수량을 입력하세요">
        </div>

        <hr class="my-4">

        <!-- Single Checkbox -->
        <div>판매여부</div>
        <div>
            <div class="form-check">
                <!--체크할경우 on 체크하지않을 경우 false가 아닌 null이 넘어간다.-->
<!--                <input type="checkbox" id="open" name="open" class="form-check-input"> -->
                <!--히든 필드 추가 => Spring MVC의 트릭. name앞에 언더스코어 체크 해제할 경우 open은 전송되지 않고 _open만 전송된다.-->
<!--                <input type="hidden" name="_open" value="on">-->
                <!-- th:field는 id,name,value뿐만 아니라 이러한 checkbox 언더스코어 히든의 기능도 함께 자동으로 파악하여 지원해준다. -->
                <input type="checkbox" th:field="*{open}" class="form-check-input">
                <label for="open" class="form-check-label">판매 오픈</label>
            </div>
        </div>

        <div>
            <div>등록 지역</div>
            <div th:each="region : ${regions}" class="form-check form-check-inline">
                <!-- th:field가 each 루프에서 돌때 name은 그대로지만 id의 마지막값에 정수가 순차적으로 자동으로 붙는다.-->
                <input type="checkbox" th:field="*{regions}" th:value="${region.key}" class="form-check-input">
                <!-- ids.prev(...) , ids.next(...) : input에 있는 th:field로 인해 생성된 id값을 순차적으로 부여해준다.-->
                <label th:for="${#ids.prev('regions')}" th:text="${region.value}" class="form-check-label"></label>
            </div>
        </div>

        <!-- radio Button-->
        <dib>
            <div>상품 종류</div>
            <div th:each="type : ${itemTypes}" class="form-check form-check-inline">
                <input type="radio" th:field="*{itemType}" th:value="${type.name()}" class="form-check-input">
                <label th:for="${#ids.prev('itemType')}" th:text="${type.description}" class="form-check-label"></label>
            </div>
        </dib>
        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit">상품 등록</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='items.html'"
                        th:onclick="|location.href='@{/form/items}'|"
                        type="button">취소</button>
            </div>
        </div>

    </form>

</div> <!-- /container -->
</body>
</html>